global
    maxconn 4000

defaults
    mode http
    timeout client 10s
    timeout connect 5s
    timeout server 10s
    timeout http-request 10s

frontend haproxy_frontend
    bind *:1905
    mode http
    default_backend spring_backend

backend spring_backend
    mode http
    server spring_server spring:8080 check
